
.vs/Drone-academy/FileContentIndex/8cd02d2e-1f2f-4115-afde-ab76fcb55600.vsidx
.vs/Drone-academy/FileContentIndex/9e60f73d-9ecd-4557-8321-36782ccc91ec.vsidx
.vs/slnx.sqlite
.vs/Drone-academy/FileContentIndex/cdce33c6-9524-4cf2-8ea6-16cef2420829.vsidx
.vs/Drone-academy/FileContentIndex/0b1dcb97-7ffa-459f-b78c-442c46a5f035.vsidx
.vs/Drone-academy/FileContentIndex/5729525a-24da-4646-9d50-c8916aeec664.vsidx
*.vsidx
/CSHARP/DroneAcademy/Properties/PublishProfiles
/CSHARP/DroneAcademy/Properties
CSHARP/DroneAcademy/Properties/PublishProfiles/filipjanjesic1-001-site1 - FTP.pubxml.user
